#main {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.song-viewer {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  background-color: #f0f5f7;

  height: 100%;
  width: 100%;

  overflow-y: auto;
}

.note {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 1rem;
  background-color: blue;
  color: #000;
  border-right: 1px solid #fff;
  margin-right: 0.25rem;
}

.note-selector {
  display: flex;
  flex-direction: column;
}

.note-selector > div {
  width: 6rem;
  margin-bottom: 1rem;
  cursor: pointer;
  color: #000;
}

.note-3 {
  background-color: yellow;
}

.note-4 {
  background-color: greenyellow;
}

.note-5 {
  background-color: green;
}

/* 
 * Intro
*/

.intro {
  position: fixed;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;
  background-color: white;
  z-index: 9999;
}

.intro > * {
  margin-bottom: 2rem;
}

.intro span {
  color: teal;
  cursor: pointer;
}

.intro span:hover {
  text-decoration: underline;
}
